<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>Equilibrium</title>
        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="utf-8">

        <!--STYLES-->
        <link rel="stylesheet" href="/styles/importer.css">
        <!--STYLES END-->
    </head>

    <body ng-app="equilibrium">

        <header>
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/">Games</a>
                </div>
            </nav>
        </header>


        <!-- Other views will be displayed here -->
        <main>
            <div ng-view="">
            </div>
        </main>


        <footer>
            <div class="navbar navbar-default navbar-fixed-bottom">
                <div class="btn-group">
                    <a href="#/creategame" class="btn btn-primary btn-lg pos-right">Create new</a>
                    <a class="btn btn-lg btn-success pos-right">Connect</a>
                </div>
            </div>
        </footer>


        <!--SCRIPTS-->
        <script src="/vendor/sails.io.js/dist/sails.io.js"></script>
        <script src="/helper/sailsAutoconnect.js"></script>
        <script src="/vendor/angular/angular.js"></script>
        <script src="/vendor/angular-animate/angular-animate.js"></script>
        <script src="/vendor/angular-resource/angular-resource.js"></script>
        <script src="/vendor/angular-route/angular-route.js"></script>
        <script src="/app/scripts/app.js"></script>
        <script src="/app/scripts/controllers/creategame.js"></script>
        <script src="/app/scripts/controllers/main.js"></script>
        <script src="/app/scripts/services/connectionservice.js"></script>
        <!--SCRIPTS END-->
    </body>
</html>
