/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.01.2015, 18:17:29
    Author     : moehlone
*/


body {
    padding-top: 60px;
    padding-bottom: 60px;
}

footer {
    .navbar-fixed-bottom {
        margin-bottom: 40px;
    }

    text-align: center;
    
    .btn-group {
        margin-top: 5px;
    }
}